<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="index.html" title="Go to Home">Eco.Kokedamas</a>
            </div>
        </div><!-- /logo -->


        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="index.html">Home</a></li>
                        <li class="menu-item">
                            <a href="about.html">Quien soy</a></li>
                        <li class="menu-item">
                            <a href="#">Productos</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="#">Cactus</a></li>
                                <li class="menu-item">
                                    <a href="#">Suculentas</a></li>
                                <li class="menu-item">
                                    <a href="#">Mis Kokes</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="menu-item">
                            <a href="blog.html">Contacto</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="single.html">Single</a></li>
                            </ul>
                        </li> -->
                        <li class="menu-item">
                            <a href="typography.html">Formas de Envio</a></li>
                        <li class="menu-item">
                            <a href="contact.html">Contact me</a></li>
                        <li class="menu-inline menu-item">
                            <a title="Twitter" href="http://twitter.com/fh5co">
                                <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Facebook" href="http://www.facebook.com/eecokokedamas-106637011530494/about">
                                <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                        </li>
                        <li class="menu-inline menu-item">
                            <a title="Instagram" href="http://www.instagram.com/eco.kokedamas/?hl=es">
                                <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

        <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>

    </div>

</header>